extends layout 

block content
      h1(id="dashboard") Dashboard
      h2(id="dashboardPosts") Your Posts
      if posts && posts.length
            each post in posts
                  div.post
                        h3= post.title
                        p= post.content
                        small Posted on #{post.created_at}
                        
      else
            p You haven't made any posts yet.
      form(action='/logout', method='POST', onsubmit="logout(event)")
            button(type='submit') Logout
      script(src="/javascript/logout.js")
        