extends layout 

block content
      h1 Dashboard
            form(action='/logout', method='POST', onsubmit="logout(event)")
            button(type='submit') Logout

      h2 Your Posts
      if posts && posts.length
            each post in posts
                  div.post
                        h3= post.title
                        p= post.content
                        small Posted on #{post.created_at}
      else
            p You haven't made any posts yet.
      script(src="/javascript/logout.js")
      script(src="/javascript/deletePost.js")
        