extends layout 

block content
    body
        div(id="movieAndPostContainer")
            div(id="movieContainer")
                h1 New Movies
            div(id="postContainer")
                h1 Recent Posts
