extends layout

block content
  h2 Posts Page
  
  form(action="/postsPage", method="get")
    input(type="text", name="search", placeholder="Search posts...", value=(search || ''))
    button(type="submit") Search

  if user
    form#postForm
      div.formGroup
        label(for="title") Title:
        input(type="text", name="title", id="postTitle", required)
      div.formGroup
        label(for="content") Review:
        textarea(name="content", id="content", required)
      button(type="submit") Post
  else
    p You must be logged in to submit a post.

  if posts && posts.length
    each post in posts
      div.post
        h3= post.title
        p= post.content
        small Posted by #{post.author} on #{post.created_at}
  else
    p No posts yet.
